<div class="container">
    <div class="card gray mat-elevation-z8">
        <div class="information">
            <h6>New orders(Today)</h6>
            <h1>{{ordersOfToday}}</h1>
        </div>
        <div class="icon">
            <mat-icon>shopping_cart</mat-icon>
        </div>
    </div>
    <div class="card blue mat-elevation-z8">
        <div class="information">
            <h6>Total of users</h6>
            <h1>{{totalOfUsers}}</h1>
        </div>
        <div class="icon">
            <mat-icon>people_outline</mat-icon>
        </div>
    </div>
    <div class="card orange mat-elevation-z8">
        <div class="information">
            <h6>Total of products</h6>
            <h1>{{totalOfProducts}}</h1>
        </div>
        <div class="icon">
            <mat-icon>local_mall</mat-icon>
        </div>
    </div>
    <div class="card green mat-elevation-z8">
        <div class="information">
            <h6>Invoicing</h6>
            <h1>${{invoice}}</h1>
        </div>
        <div class="icon">
            <mat-icon>payment</mat-icon>
        </div>
    </div>
</div>
