<div class="container">
    <h1>My account</h1>
    <div class="content">
        <div class="user">
            <app-account-user></app-account-user>
            <div class="card mat-elevation-z8">
                <mat-card class="calendar-card">
                    <mat-calendar></mat-calendar>
                </mat-card>
            </div>
        </div>
        <div class="customer">
            <app-account-customer></app-account-customer>
        </div>
        <div class="score">
            <app-account-score></app-account-score>
        </div>
    </div>
    
</div>

