<div class="container">
    <div class="table">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="orderId">
              <mat-header-cell *matHeaderCellDef> Order Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.order.id}} </mat-cell>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef> Request Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.instant | date: 'short'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="orderDate">
              <mat-header-cell *matHeaderCellDef> Order Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.order.instant | date: 'short'}} </mat-cell>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="qtd">
              <mat-header-cell *matHeaderCellDef> Qtd Products </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{getQtd(element.order.items)}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="delete(element.id)"><mat-icon>delete_forever</mat-icon></button>
              </mat-cell>
            </ng-container>

          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
    </div>
</div>
