<div class="container mat-elevation-z8">
    <div class="form">

        <div class="input">
            <mat-card class="full-width">
                <mat-card-content>Name: {{customer.customerName}}</mat-card-content>
              </mat-card>
        </div>
    
        <div class="input">
            <mat-card class="full-width">
                <mat-card-content>Doc. {{customer.documentNumber | mask: "CPF_CNPJ"}}</mat-card-content>
            </mat-card>
            <mat-card class="full-width">
                <mat-card-content>Status: {{customer.customerStatus}}</mat-card-content>
            </mat-card>
        </div>

        <div class="input">
            <mat-card class="full-width">
                <mat-card-content>Type: {{customer.customerType}}</mat-card-content>
            </mat-card>
            <mat-card class="full-width">
                <mat-card-content>Credit Score: {{customer.creditScore}}</mat-card-content>
            </mat-card>
        </div>

        <button
          (click)="openDialog()"
          class="input mat-elevation-z4" 
          mat-stroked-button color="primary">Update</button>
          
    </div>
</div>
