<div class="container">
    <h2>Update Perfil</h2>
    <mat-form-field class="full-width">
        <mat-label>Full Name</mat-label>
        <input 
        [formControl]="customerName"
        required
        [(ngModel)]="customer.customerName" 
        name="full_name" 
        type="text" 
        matInput 
        placeholder="Ex. Vinicius Reis">
      </mat-form-field>

      <mat-form-field class="full-width">
      <mat-label>Customer Type</mat-label>
      <mat-select>
        <mat-option (click)="setCustomerType('NaturalPerson')" value="valid">Natural Person</mat-option>
        <mat-option (click)="setCustomerType('LegalPerson')" value="valid">Legal Person</mat-option>
        <mat-option (click)="setCustomerType('technical')" value="valid">Technical</mat-option>
      </mat-select>
    </mat-form-field>

    <button 
          (click)="update()"
          [disabled]="!validateField()"
          class="full-width mat-elevation-z4" mat-stroked-button color="primary">Update</button>

          <button
          (click)="onNoClick()"
          class="full-width mat-elevation-z4" 
          mat-stroked-button color="warn">Close</button>
</div>
 