.container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
}

.full-width{
    width: 100%;
}

button {
    margin: 1rem;
}