<div class="container">
    <img class="banner" src="assets\img\banner.svg" alt="banner minimal">
    <div class="about">
            <div class="welcome">
                <h1>Welcome To Minimal</h1>
                <p>
                    We're thrilled to have you here, where you'll find an exceptional 
                    assortment of products to enhance your life. Explore our wide range 
                    of high-quality items and get ready to discover the perfect fit for
                    your lifestyle. Happy shopping!
                </p>
                <div class="product-hook">
                    <a routerLink="/products"><h3>see more &rarr;</h3></a>
                </div>
            </div>
            <img class="banner" src="assets\img\about.svg" alt="banner minimal">
    </div>
</div>
